<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(ref="stylesheet",href="/css/index.css")
    body
        header.shop-header
            nav.shop-nav
                ul.shop-list
                    li.shop-list-item
                        a.active(href="/") 商品
                    li.shop-list-item
                        a.active(href="/admin/add-product") 添加商品
    block content