<!DOCTYPE html>
<html>
<head>
	<title>add product</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">商店</a></li>
				<li><a href="/admin/add-product">添加商品</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<form action="/admin/product" method="post">
			<input type="text" name="title">
			<button type="submit">添加商品</button>
		</form>
	</main>
</body>
</html>