<%- include('includes/head.ejs')%>
<%- include('includes/navigation.ejs')%>
<main>
	<% if (prods.length > 0) {%>
	<h1>我的产品</h1>
	<p>这是产品列表...</p>
	<ul>
		<% prods.forEach(function(item){%>
			<li><%=item.title %></li>
		<% }) %>
	</ul>
	<% } else { %>
	<p>no content</p>
	<% } %>
</main>
<%- include('includes/end.ejs')%>

